<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />

    <title>Document</title>
  </head>
  <body class="px-3">
    <div class="max-w-[800px] mx-auto">
      <%- include('nav', {link: {text: "Back to all messages", path: "/"}}) %>
      <h1 class="text-3xl flex flex-col sm:block">
        <span class="text-9xl">404</span>Error: <%= message %>
      </h1>
    </div>
  </body>
</html>
