<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <title>Message Board!</title>
  </head>
  <body class="px-3">
    <div class="max-w-[800px] mx-auto">
      <%- include('nav', {link: {text: "Back to all messages", path: "/"}}) %>
      <div class="border-[1px] border-black p-3 flex flex-col">
        <h3 class="text-3xl font-bold text-center my-10">
          <%= message.text %>
        </h3>
        <h3 class="text-2xl text-right"><%= message.user %></h3>
        <h4 class="text-lg font-light text-right">
          <%= message.added.toLocaleDateString("en-GB", { day: "2-digit", month:
          "long", year: "numeric" }) %>
        </h4>
      </div>
    </div>
  </body>
</html>
