<nav class="mb-5">
  <h1 class="text-4xl my-5 font-bold">Mini Messageboard</h1>
  <a
    href="<%= link.path %>"
    class="text-blue-600 hover:underline decoration-blue-600"
    ><%= link.text %></a
  >
</nav>
